<html>
	<head>
		<title>Homepage - Useful Web Apps</title>
	</head>
	<body>
		<h1>Some useful web apps.</h1>
		<p>A list of the apps:</p>
		<ul>
			<li><a href="/calculator">A calculator using python's <code>eval()</code> function.</a></li>
			<li><a href="/markdownrenderer/home">A markdown render using python's <code>markdown</code> library.<br></br></a></li?
		</ul>
		<p>Very good! :)</p>
		<hr>
		<p>Thanks:</p>
		<ul>
			<li><a href="https://www.python.org/">Python</a> and</li>
			<li><a href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a> for making server;</li>
			<li><a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja 3</a> for rendering html page;</li>
			<li><a href="https://github.com/Python-Markdown/markdown">markdown</a> for rendering markdown.</li>
		</ul>
		<p>Thank them very much!</p>
	</body>
</html>
